[data-md-color-scheme='astecas'] {
    --md-primary-fg-color: #422682;
    --md-accent-fg-color: #44CCCC;
}

.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
   display: table;
}

.details-table th:first-child {
  width: auto;
}

.md-typeset__table table thead th:first-child {
  width: 300px;
}

@media only screen and (max-width: 500px) {
  .md-typeset__table table thead th:first-child {
    width: auto;
  }
}

ins code {
  color: #422682 !important;
}

a.md-nav__link--active {
  border-left: 4px solid #422682;
  padding-left: 4px;
  font-weight: bold;
}

a.md-nav__link--active:hover {
  border-color: #44CCCC;
}

.md-header-nav__title {
  display: flex;
}

.md-header-nav__title > .md-header-nav__ellipsis {
  width: auto !important;
}

.md-header-nav__topic {
  position: static;
}

.md-header-nav__title[data-md-state=active]  .md-header-nav__ellipsis:first-child {
  display: none;
}

/*span.md-header-nav__topic, span.md-ellipsis {
  position: static;
  display: inline;
}

.md-header-nav__ellipsis span:nth-of-type(2) {
  display: none;
}*/

#version-selector select {
  color: white;
	font-family: inherit;
	background-color: transparent;
  width: 100px;
  padding: 5px 5px 5px 0;
	font-size: 18px;
  border: none;
  cursor: pointer;
}

#version-selector select:focus {
	outline: none;
}

#version-selector select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}

#version-selector select option {
  color: black;
}

/*.displayTitle {
  display: inline !important;
  position: relative !important;
  left: 0px !important;
}

.md-nav__source {
  background-color: #44CCCC;
}*/
